:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });

.row
  .col.s4.p0.fixed-sidebar.z-depth-1
    %ul.tabs.teal
      %li.tab.col.s6
        %a.white-text.waves-effect.waves-light.active{:href => "#new-ex"} New
      %li.tab.col.s6
        %a.white-text.waves-effect.waves-light{:href => "#resolved-ex"} Resolved
    #new-ex.p0
      = smart_listing_render :exceptions
    #resolved-ex.p0
      = smart_listing_render :resolved_exceptions

  .col.s8.p0.right
    .card#log-page-header.exception-info.margin-0
      .card-content.p0.blue.border-radius-0
        .row.margin-0
          .col.l8.s12
            %h6.font-18.white-text.exception-message
            %p.medium-small
              %h6.margin-t-0.blue-text.text-lighten-4.font-12.exception-raw
              %h6.margin-t-0.blue-text.text-lighten-4.font-12.exception-date
          .col.l4.s12.margin-t-10
            %a.white#mark-resolve-btn.blue-text.waves-effect.waves-green.btn.margin-t-10
              %i.material-icons.left> golf_course
              Mark as resolved      
            %a.white#resolved-btn.blue-text.waves-effect.waves-green.btn.margin-t-10
              %i.material-icons.left> done
              Issue Resolved                    
      .card-action.p0.grey.lighten-3
        .row.margin-0
          .col.l2.s6.center-align
            %h3.margin-b-0.margin-t-10.orange-text.exception-total-count
            %p.margin-t-0.medium-small.orange-text.text-lighten-1.font-12 Total Occurrences
          .col.l2.s6.center-align
            %h3.margin-b-0.margin-t-10.teal-text.exception-new-count
            %p.margin-t-0.medium-small.teal-text.text-lighten-1.font-12 Since Last Resolved  
          .col.l3.s12.p10
            .font-12.grey-text You can ingore this issue and from next time it won't be reported again.
            %input#ignore-issue-box.filled-in{:checked => false, :type => "checkbox"}
            %label.margin-t-10{:for => "ignore-issue-box"} Ignore this issue             
          .col.l5.s12.hide-on-small-only
            %canvas#log-count-canvas.right{:height => "93",:style=>"margin-bottom:-2px;"}                
    .col.s12.exception-info

      
      .card
        %ul.pagination.right
          %li
            %a{:href => "#!"}
              %i.material-icons bug_report
          %li
            %a.font-12{:href => "#!"}
              %span.current-log 1
              of
              %span.exception-total-count
          %li.waves-effect
            %a.exception-data.log-navigator.arrow-first{:href => "#!", "data-navigate"=>"first"}
              %i.material-icons fast_rewind
          %li.waves-effect
            %a.exception-data.log-navigator.arrow-previous{:href => "#!", "data-navigate"=>"previous"}
              %i.material-icons chevron_left
          %li.active
            %a.current-log{:href => "#!"} 1
            %input#current_page_num{:type=>"hidden"}
            %input#total_page_count{:type=>"hidden"}
            %input#exception_entry_id{:type=>"hidden"}
          %li.waves-effect
            %a.exception-data.log-navigator.arrow-next{:href => "#!", "data-navigate"=>"next"}
              %i.material-icons chevron_right  
          %li.waves-effect
            %a.exception-data.log-navigator.arrow-last{:href => "#!", "data-navigate"=>"last"}
              %i.material-icons fast_forward  

        %ul.tabs.tab-profile.z-depth-1.red
          %li.tab
            %a.white-text.waves-effect.waves-light.active{:href => "#overview"}
              Overview
          %li.tab
            %a.white-text.waves-effect.waves-light{:href => "#backtrace"}
              Backtrace
          %li.tab
            %a.white-text.waves-effect.waves-light{:href => "#params"}
              Parameters
          .indicator{:style => "right: 541px; left: 0px;"}      
          
        #overview.p20.progress-loader
        #backtrace.p5
          %pre.language-markup.ex-backtrace.font-10
        #params.p20
          %pre.language-markup.ex-params
    %h5.grey-text.font-weight-300.center-align.text-lighten-1.no-exception{:style=>"margin-top:200px;"} No exception selected