:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });

.row
  .col.s4.p0.fixed-sidebar.z-depth-1
    %ul.tabs.light-blue
      %li.tab.col.s6
        %a.white-text.waves-effect.waves-light.active{:href => "#new-ex"} New
      %li.tab.col.s6
        %a.white-text.waves-effect.waves-light{:href => "#resolved-ex"} Resolved
    #new-ex.p0
      =# smart_listing_controls_for(:exceptions, {class: "form-inline text-right"}) do
      =# text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :off    
      = smart_listing_render :exceptions
    #resolved-ex.p0
      = smart_listing_render :resolved_exceptions

  .col.s8.p0{:style=>"float:right"}
    .card#log-page-header.exception-info.margin-0
      .card-image.waves-effect.waves-block.waves-light.grey
        %canvas#log-count-canvas{:height => "89","chart-legend" => "true"}
      .card-content
        .row.margin-0
          .col.s8
            %h6.card-title.font-18.grey-text.text-darken-4.exception-message
            %p.medium-small.grey-text 
              %h6.margin-t-0.grey-text.exception-raw
              %h6.margin-t-0.grey-text.ex-controller
              %h6.margin-t-0.grey-text.exception-date
          .col.s2.center-align
            %h4.card-title.grey-text.text-darken-4.exception-total-count
            %p.medium-small.grey-text Total Occurrences
          .col.s2.center-align
            %h4.card-title.grey-text.text-darken-4.exception-new-count
            %p.medium-small.grey-text Since Last Resolved        
          .col.s1  
    .col.s12.exception-info
      .card
         
        %ul.tabs.tab-profile.z-depth-1.red
          %li.tab
            %a.white-text.waves-effect.waves-light.active{:href => "#overview"}
              Overview
          %li.tab
            %a.white-text.waves-effect.waves-light{:href => "#backtrace"}
              Backtrace
          %li.tab
            %a.white-text.waves-effect.waves-light{:href => "#params"}
              Parameters
          .indicator{:style => "right: 541px; left: 0px;"}      
          
        #overview.p20.progress-loader
        #backtrace.p5
          %pre.language-markup.ex-backtrace.font-10
        #params.p20
          %pre.language-markup.ex-params
    %h5.grey-text.font-weight-300.center-align.text-lighten-1.no-exception{:style=>"margin-top:200px;"} No exception selected