:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });

.row
  .col.s4.p0
    %ul.tabs.light-blue.z-depth-1
      %li.tab.col.s6
        %a.white-text.waves-effect.waves-light.active{:href => "#test1"} New
      %li.tab.col.s6
        %a.white-text.waves-effect.waves-light{:href => "#test2"} Resolved
    .fixed-sidebar.z-depth-1{:style=>"width:inherit"}
      #test1.p0
        =# smart_listing_controls_for(:exceptions, {class: "form-inline text-right"}) do
        =# text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :off    
        = smart_listing_render :exceptions
      #test2.p0 Under development

  .col.s8{:style=>"float:right"}
    %h5 Exception Details
