/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1.logo-wrapper {
    margin: 0px 30px 0px 0px;
    overflow-y:hidden;
}
h1.logo-wrapper a {
  display: inline;
}
h1.logo-wrapper a:hover{
  background-color: #FFF;
}
header .brand-logo {
    margin: 1px 0px;
    padding: 0px 20px;
}
header .brand-logo img {
    width: 172px;
}
h1 span.logo-text {
    display: none;
}
.p5{ padding: 5px; }
.p10{ padding: 10px; }
.p20{ padding: 20px; }
.font-12{ font-size: 12px; }
.font-14{ font-size: 14px; }
.font-16{ font-size: 16px; }